#h1Ele {
  width: 850px;
  height: 510px;
  position: relative;
  bottom: 460px;
  left: 80px;
  color: black;
}
h1 {
  font-size: 50px;
  font-weight: 600;
}
p {
  font-size: 20px;
  font-weight: 400;
}
